/* ADMIN */

.admin{

    padding: 50px;
    border-radius: 10px;
}

#h1admin{
    margin-top: 30px;
    text-align: center;
    color: black;
    font-weight: bold;
}

.btnajt{
    font-weight: bold;
}

#btngr{
    width: 350px;
}

#voirItem{
    font-weight: bold;
    margin: 20px auto; 
    text-align: center;
}

.cardProd{
    margin-bottom: 10px;
    transition: all 0.2s ease;
}
.cardProd:hover{
    transform: scale(1.02);
}

.carditem{
    background: linear-gradient(to bottom, #b4e391 0%,#9ad80a 50%,#b4e391 100%);
    border-radius: 5px;
}

.wr{
    width: 100%;
}

.wrg{
    width: 48%;
    display: inline-block;
    margin-left: 12px;
}

#prix{
    font-weight: bold;
}

.bgr{
    border: solid 2px #8a8a8a;
    border-radius: 10px;
}

.addPanier{
    background: #7DB43A;
    width: 100%;
    color: #fff;
    border: solid 1px #000;
}

.addPanier:hover{
    background: #5EA938;
}

.msgErr{
    color: red;
}


.jds{
    text-align: center;
    font-weight: bold; 
}

.ctrg{
    /* margin-top: 100px; */
    margin-bottom: 20px;
}

.gras{
    font-weight: bold;
}

.voir{
    margin: 20px 30px !important;  
    text-align: center;
}

.red-divider{
    width: 100px;
    height:2px;
    background: #000;
    margin: 30px auto;
}

.imgsize{
    height: 150px !important;
    width: 170px !important;
}

.prix{
    margin: 10px 20px;
    font-weight: bold;
}

#marg{
    margin-top: 40px;
}

#bott{
    padding: 50px;
}

.col-md-8.ctrg{
    margin-bottom: 50px;
}

@media (max-width: 992px) {
    .btnAct{
        display: none;
      }
}

.retour-insert
{
    display: inline !important;
}