/* --------------------------------------------- GENERAL --------------------------------------------- */
.divider{
    width: 100%;
    height:2px;
    background: #ccc;
    margin: 30px auto;
}

body, html{
    background: #f7f7f7;
}

/* --------------------------------------------- SECTION NAVBAR ONGLET JOUR --------------------------------------------- */
nav .onglet{
    background: #7DB43A;
    border-radius: 0px !important;
    height: 75px;
    font-weight: bold;
    color: #fff;
    padding-top: 15px;
    transition: all 0.1s ease;
    border-bottom: solid 1px #000 !important;
}

nav .onglet:hover{
    background: #f2f2f2;
    color: #000;
    font-size: 17px;
}

.nav .onglet.active{
    border-bottom: none !important;
    border-left: solid 1px #000;
    border-right: solid 1px #000;
    border-top: solid 1px #000;
    font-size: 25px;
    padding-top: 0px;
}

/* --------------------------------------------- SECTION PRODUITSPANIER --------------------------------------------- */
#produitsPanier legend{
    text-transform: uppercase;
    font-weight: bold;
    padding: 10px;
}

#produitsPanier .addPanier{
    background: #7DB43A;
    width: 100%;
    color: #fff;
    border: solid 1px #000;
}

#produitsPanier .addPanier:hover{
    background: #5EA938;
}


#produitsPanier fieldset{
    margin-top: 20px;
    background: linear-gradient(#f7f7f7, #ffff);
}

#produitsPanier .imgsize{
    height: 150px;
    width: 170px;
}

#produitsPanier .prix{
    font-weight: bold;
    margin: 15px;
}

#produitsPanier .bgr{
    border: solid 2px #8a8a8a;
    border-radius: 10px;
    height: 100%;
}

#produitsPanier .cardProd{
    margin-bottom: 10px;
    transition: all 0.2s ease;
}
#produitsPanier .cardProd:hover{
    transform: scale(1.02);
}

#produitsPanier .prodprix{
    margin: 30px;
}

#produitsPanier .carditem{
    background: linear-gradient(to bottom, #b4e391 0%,#9ad80a 50%,#b4e391 100%);
    border-radius: 8px;
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;
    border-bottom: solid 1px #8a8a8a;
}

#produitsPanier .weekEnd{
    text-align: center;
    font-size: 30px;
    font-weight: bold;
    padding-top: 13%;
}


/* -------------------------------------------- PANIER -------------------------------------------- */
#panier{
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    position: fixed;
    top: 20%;
    right: 3%;
    padding: 0px;
    background: #f2f2f2;
    width: 20%;
    border: solid 2px #ddd;
}

#panier .quantity{
    font-style: italic;
}

#panier .total{
    font-size: 20px;
}
#panier .productName{
    text-transform: uppercase;
    font-weight: bold;
}

#panier .countItem{
    font-weight: bold;
    margin-left: 10px;
}

#panier .price{
    font-weight: bold;
}

#panier .listProd{
    overflow-y: scroll;
    overflow-x: hidden;
    max-height: 300px;
}

#panier .listProd::-webkit-scrollbar{
	width: 12px;
    background-color: #F5F5F5;
}

#panier .listProd::-webkit-scrollbar-thumb{
	box-shadow: inset 0 0 6px #0000004d;
	background-color: #555;
}

#panier h3{
    margin-left: 10px;
}

#panier span{
    margin-right: 10px;
}

#panier .book{
    background: #5EA938;
    color: #fff;
    margin-top: 20px;
    width : 100%;
    border-radius : 0px;
    border-bottom-left-radius : 7px;
}

#panier .book:hover{
    background: #7DB43A;
}

#panier .infoTot{
    border-top: solid 2px #ccc;
    background: #ccc;
    border-bottom-left-radius: 6px;
    background: linear-gradient(to bottom, #e5e5e5 1%,#ffffff 99%,#ffffff 100%);
}

/* -------------------------------------------- PANIER MOBILE -------------------------------------------- */
#panierMobile{
    bottom: 0px;
    width: 100%;
    background: linear-gradient(to bottom, #e5e5e5 1%,#ffffff 99%,#ffffff 100%);
    position: fixed;
    display: none;
    border-top: solid 1px #000;
    z-index: 1;
}

#panierMobile .bookM{
    width: 100%;
    background: #5EA938;
    color: #fff; 
    border-radius: 0px;
}

#panierMobile .bookM:hover{
    background: #7DB43A;
}

#panierMobile .listProdM{
    overflow-y: scroll;
    max-height: 200px;
}

#panierMobile .listProdM::-webkit-scrollbar{
	width: 12px;
    background-color: #F5F5F5;
}

#panierMobile .listProdM::-webkit-scrollbar-thumb{
	box-shadow: inset 0 0 6px #0000004d;
    background-color: #555;
}

/* ############################################# MEDIA QUERIES ############################################# */
/* -------------------------------------------- PANIER MEDIA -------------------------------------------- */
@media (max-width: 991px){
    #panier{
        display: none;
    }
    #panierMobile{
        display: block;
    }
}

@media (max-width: 478px){
    #panierMobile .prodprix h3{
        font-size: 19px;
    }
}

@media (max-width: 321px){
    #panierMobile .prodprix h3{
        font-size: 10px;
    }
}

/* -------------------------------------------- NAVBAR ONGLET MEDIA -------------------------------------------- */
@media (max-width: 628px){
    .nav .onglet.active{
        border: none !important;
    }
}

/* -------------------------------------------- PANIER MEDIA -------------------------------------------- */
@media (max-width: 1082px){
    .countItem{
        font-size: 14px;
    }
    #panier h3{
        font-size: 20px;
    }
    #panier .panierEmpty{
        font-size: 15px;
    }
}

@media (max-width: 713px){
    #panierMobile h3, .count, .countItem{
        text-align: center;
    }
}
