/* --------------------------------------------- GENERAL --------------------------------------------- */
.divider{
    width: 100%;
    height:2px;
    background: #ccc;
    margin: 30px auto;
}


/* --------------------------------------------- SECTION PRODUITSPANIER --------------------------------------------- */
#produitsPanier legend{
    text-transform: uppercase;
    font-weight: bold;
    padding: 10px;
}

#produitsPanier fieldset{
    margin-top: 20px;
}

#produitsPanier .imgsize{
    height: 250px;
    width: 230px;
}
#produitsPanier .prix{
    font-weight: bold;
}
#produitsPanier .bgr{
    border: solid 2px #ddd;
    border-radius: 10px;
    height: 100%;
}

#produitsPanier .prodprix{
    margin: 30px;
}
#produitsPanier .carditem{
    background: linear-gradient(to bottom, #b4e391 0%,#9ad80a 50%,#b4e391 100%);
    border-radius: 5px;
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;
}

#produitsPanier .book{
    background: #5EA938;
    color: #fff;
    width: 100%;
    margin-bottom: 10px;
    border-radius: 15px;
}

#produitsPanier .book:hover{
    background: #7DB43A;
}

/* -------------------------------------------- PANIER -------------------------------------------- */

#panier{
    border-radius: 10px;
    position: fixed;
    top: 250px;
    right: 5%;
    padding: 20px;
    background: #f2f2f2;
    width: 25%;
}

#panierMobile{
    bottom: 0px;
    width: 100%;
    background: #ddd;
    position: fixed;
    display: none;
    border-top: solid 1px #000;
}

#panierMobile .bookM{
    width: 100%;
    background: #5EA938;
    color: #fff; 
    border-radius: 0px;
}

#panierMobile .bookM:hover{
    background: #7DB43A;
}

.listProd{
    overflow-y: scroll;
    max-height: 200px;
}

.listProd::-webkit-scrollbar{
	width: 12px;
    background-color: #F5F5F5;
	border-radius: 10px;
}

.listProd::-webkit-scrollbar-thumb{
	border-radius: 10px;
	box-shadow: inset 0 0 6px #0000004d;
	background-color: #555;
}


/* ############################################# MEDIA QUERIES ############################################# */

/* -------------------------------------------- PANIER MEDIA -------------------------------------------- */
@media (max-width: 992px){
    #panier{
        display: none;
    }
    #panierMobile{
        display: block;
    }
}

@media (max-width: 478px){
    #panierMobile .prodprix h3{
        font-size: 19px;
    }
}

@media (max-width: 321px){
    #panierMobile .prodprix h3{
        font-size: 10px;
    }
}