/* |||||||||||||||||||||||||||||||||||||||||||||| SECTION IMAGES |||||||||||||||||||||||||||||||||||||||||||||| */
#images .col-md{
    padding: 0px;
    overflow: hidden;
}

#images #animationsIMG{
    background-image: url("../img/09.jpg");
    position: relative;
    z-index: 1;
    border-right: solid 1px #00000071;
    padding: 30%;
}

#images #forfaitIMG{
    background-image: url("../img/11.jpg");
    position: relative;
    z-index: 1;
    border-left: solid 1px #00000071;
    padding: 30%;
}

#images .openCard{
    background-size: cover;
    background-position: center;
    height: 705px;
    filter: brightness(93%);
    transition: all 0.4s ease;
}

#images .openCard:hover{
    cursor: pointer;
    filter: brightness(105%);
}

.openCard h2{
    position: relative;
    color: #fff;
    font-weight: bold;
    text-transform: uppercase;
    margin: auto;
    width: 100%;
    border: 2px solid #00000071;
    border-radius: 50px;
    background: #7DB43A;
    padding: 20px;
    text-align: center;
    font-size: 25px;
    transition: all 0.2s ease;
}

.openCard:hover h2{
    transform: scale(1.1);
    box-shadow: 0px 0px 15px #000;
}

.openCardActive{
    pointer-events: none !important;
    filter: brightness(90%) grayscale(0.9) !important;
}


/* |||||||||||||||||||||||||||||||||||||||||||||| SECTION ARTICLES |||||||||||||||||||||||||||||||||||||||||||||| */
#article #animation, #article #forfait{
    display: none;
    position: absolute;
    top: 120px;
    right: 15%;
    left: 15%;
    height: 650px;
}

#article #animation{
overflow-y: scroll;
}

#article #animation::-webkit-scrollbar{
	width: 12px;
    background-color: #F5F5F5;
	border-radius: 10px;
}

#article #animation::-webkit-scrollbar-thumb{
	border-radius: 10px;
	box-shadow: inset 0 0 6px #0000004d;
	background-color: #555;
}

#animation, #forfait{
    padding-top: 100px !important;
}