/* |||||||||||||||||||||||||||||||||||||||||||||| SECTION IMAGES |||||||||||||||||||||||||||||||||||||||||||||| */
#images .col-md{
    padding: 0px;
    overflow: hidden;
}

#images #animationsIMG{
    background-image: url("../img/09.jpg");
    position: relative;
    z-index: 1
}

#images #forfaitIMG{
    background-image: url("../img/11.jpg");
    position: relative;
    z-index: 1

}

#images .openCard{
    background-size: cover;
    background-position: center;
    height: 705px;
    filter: brightness(70%);
    transition: all 0.4s ease;
}

#images .openCard:hover{
    cursor: pointer;
    filter: brightness(100%);
}


/* |||||||||||||||||||||||||||||||||||||||||||||| SECTION ARTICLES |||||||||||||||||||||||||||||||||||||||||||||| */
#article #animation, #article #forfait{
    display: none;
    position: absolute;
    top: 120px;
    right: 15%;
    left: 15%;
}

#article{
    padding-right: 800px;
}