/*general*/

body, html
{
    height: 100%;
}

body
{
   
display: flex;
flex-direction: column;     
font-family: lato, serif;
    
}



/* h1,h2,h3,h4,h5,h6
{
    font-weight: bold;
}
img
{
    max-width: 100%;
    height: auto;
    
}
section
{
    padding: 45px 0 80px 0; 
}
section .heading
{
  text-align: center;  
  padding-bottom: 40px;
}

section .heading h2
{
  text-transform: uppercase;
  color: #a63759; 
}

.red-divider
{
    width: 100px;
    height:2px;
    background: #44a33d;
    margin: 10px auto;
}

ul,ol
{
    list-style: none;
}

/* MENU */
/* .navbar {
    background-color: #87bb34;
    font-size: 12px;
    border-bottom: 1px solid #fff;
    letter-spacing: 4px;
    text-transform: uppercase;
    font-weight: bold;
}
.nav-fill .nav-link{
    color: #fff !important;
    text-align: center;
    margin-right: 20px;
}
.nav-fill .nav-link.active,  .nav-fill .nav-link:hover{
    color: #a63759 !important;
    background-color: #fff !important;
    border-radius: 10px;
}
.navbar-toggler{
    color: #fff !important;
    border-style: none;
}  */

/*MENU*/
#MaNavBar
{
    flex-shrink: 0;
}


.logsubnav
{
    padding: 0px;
    width: 100%;
    margin: 0px;
    
}

.logsubnav .nav-item .nav-link.con
{
    border-right: solid 1px #fff;
}


.logsubnav .nav-item .nav-link
{
    color: #fff !important;
}
.logsubnav .nav-item .nav-link.active, .logsubnav .nav-item .nav-link:hover
{
    background-color: rgba(0, 0, 0, 0.5) !important;
}


.navbar{
    background: #7DB43A  ;
}

.logo{
    color: white !important;
    margin-left: 50px;
    font-size: 20px;
}

@media screen and (max-width: 900px){
    .logo{
        
        margin-left: 20px;
        font-size: 15px;
    }
  }


  #myNavbar .nav-item .nav-link{
    color: white;
    font-size: 15px;
    margin-top: 20px;
     
}

#myNavbar .nav-fill .nav-link.active,  #myNavbar .nav-fill .nav-link:hover{
    
    background-color: rgba(0, 0, 0, 0.5) !important;
    border-radius: 10px;
}

.fa-sign-in-alt
{
    color: #a63759 !important;
}



.afpa-image{
    max-width: 100%;
    height: 40px;
}


 .fas
 {
     color: white;
 }


 /*connexion*/
 .bg-info
{
   background: #7DB43A !important; 
}
 .btn-outline-info
 {
     background: #7DB43A;
     color: #fff;
     border: none;
 }
 .btn-outline-info:hover
 {
     background: darkolivegreen;

     
 }

 .btn-info
 {
    background: #7DB43A;
    color: #fff;
    border: none;
 }

 .btn-info:hover
 {
    background: darkolivegreen;
    
 }

.couleur
{
    font-weight: bold;
    color: darkolivegreen;
}
.modal-body
{
   background: #ddd; 
   
}

.form-control
{
    background-color: #fff;
}
.nav-tabs
{
    background-color: #7DB43A;
}
.nav-tabs .nav-item.show .nav-link, .nav-tabs .nav-link.active{
    color: #7DB43A;
}

.msgErreur
{
    color: red !important;
}
/*accueil*/

#content
{
    flex:  1 0 auto;
}

.div_img
{
    width: 100%;
    height: auto;
}

#accueil
{
 margin: 0;
 padding: 0;    
}

#accueil .heading 
{
                        
    margin: 0 auto;
    text-align: center;
    padding: 30px;
    background: #7DB43A;
    border-radius: 10px;
    border: 2px solid #ccc;
    margin-bottom: 20px;
    margin-top: 20px;
    width: 80%;
}

#accueil .heading h3
{
    color: #fff;
    text-transform: uppercase;
    margin-top: 20px;
    
}               
                        
                        
#accueil .heading p
{
    color: #000;
    text-align: center;
    margin-left: 10px;
    margin-right: 10px;
    font-weight: bold;    
}                        

/*card*/
hr
{
    margin-top: 5px !important;
    border-top: 1px solid #ddd !important;
}
.card
{
    border: none;
}
.card-marg
{
    margin-bottom: 20px;
    
}

.card-title
{
  text-align: center;
  font-weight: bold;
  margin-bottom: 10px;
  padding: 0px;
  color: darkolivegreen;
}

.restauration
{
    margin: 0 auto;
}
#accueil .card
{
    width: 100%;
    height: 100%; 
    margin-top: 20px;
    margin-bottom: 20px;
   
}
@media screen and (max-width: 730px){
    .div_img
    {
        max-width: 100%;
        height: 300px;
        
    }
  }
.card .btn-success
{
    width: 100%;
    background-color: #7DB43A !important;
    border-radius: 10px;
}
.card .btn-success:hover
{
    background-color: rgba(0, 0, 0, 0.5) !important;
    color: #fff !important;
}

.card-img-top
{
    margin-top: 0px;
} 

.card-text1
{
    padding-bottom: 24px;
}
@media screen and (max-width: 1200px){
    .card-text1
    {
        padding-bottom: 0px;
    }
  }

.card p
{
    font-weight: bold;
}  
.btn
{
    font-weight: bold;
}
.card-img-top
{
    border-radius: 10px;
}

#accueil .compte 
{
                        
    margin: 0 auto;
    text-align: center;
    padding: 30px;
    background: #7DB43A;
    border-radius: 10px;
    border: 2px solid #ccc;
    margin-bottom: 20px;
    margin-top: 20px;
    width: 80%;
}




#accueil .compte h3
{
    color: #fff;
    margin-top: 20px;
    
}

#accueil .compte p{

    color: darkolivegreen;
    font-weight: bold;
}

#accueil .compte a
{
    border-radius: 10px;
    width: 30%;
    color: #7DB43A;
}
#accueil .compte button
{
    border-radius: 10px !important;
    color: #7DB43A !important;
}
#accueil .compte button:hover
{
    background-color: rgba(0, 0, 0, 0.5) !important;
    color: #fff !important;
}

footer
{
    background-color: gray !important;
}
footer .txt-footer
{
    width:120px; 
    height:150px; 
    display:inline-block; 
    margin-top: 10px;
        
}
 
footer img
{
  margin-bottom: 80px !important;
  padding: 0px;
  
}

footer h3
{
    color: #fff;
    font-size: 15px;
    padding-top: 5px;
}
footer p
{
    color: darkslategray;
}

#MonFooter
{
    flex-shrink: 0;
}